# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/
ENV/
.venv/

# VS Code settings
.vscode/

# Data files
# *.csv
# *.tsv
# *.data
# *.dat
*.zip

# Model files
# *.pkl
*.joblib
*.h5
*.hdf5
*.model

# Logs and outputs
*.log
*.out

# OS files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/